In [89]:
import pandas as pd
import numpy as np

x = pd.read_csv("ixbx_hourly_computed.csv", parse_dates=["timestamp"], names=['timestamp', 'ixbx'], skiprows=1)
y = pd.read_csv("bfnx_hourly_computed.csv", parse_dates=["timestamp2"], names=['timestamp2', 'bfnx'], skiprows=1)
z = pd.read_csv("base_hourly_computed.csv", parse_dates=["timestamp3"], names=['timestamp3', 'base'], skiprows=1)
x.set_index('timestamp')

p = [x,y,z]

result = pd.concat(p, axis=1, join='inner')
result = result.drop(labels=['timestamp2', 'timestamp3'], axis=1)
result['unitprice'] = (result['ixbx'] + result['bfnx'] + result['base'])/3
result = result.drop(labels=['ixbx', 'bfnx', 'base'], axis=1)

result.to_csv("xbt_averaged_2018.csv")
#result.groupby('timestamp').mean()

               timestamp     unitprice
0    2018-01-01 00:00:00  13130.131200
1    2018-01-01 03:00:00  12478.292615
2    2018-01-01 06:00:00   9427.806306
3    2018-01-01 08:00:00  10018.775034
4    2018-01-01 13:00:00   8221.089390
...                  ...           ...
7590 2018-12-15 13:00:00  10778.400354
7591 2018-12-15 14:00:00   9360.807253
7592 2018-12-15 15:00:00   7408.864890
7593 2018-12-15 16:00:00   6959.150584
7594 2018-12-15 17:00:00   6974.760901

[7595 rows x 2 columns]