In [1]:
import pandas as pd
import dask.dataframe as dk
import numpy as np

mainData = dk.read_csv("~/Downloads/xbt.usd.2018", header=None ,names=['exchange', 'unitprice', 'quantity', 'timestamp'], dtype={'timestamp': np.float64})
mainData = mainData.drop_duplicates(subset='timestamp')
mainData = mainData.dropna()
mainData = mainData.drop(labels='quantity', axis=1)

In [2]:
#ixbx
#ixbx data manipulation
ixbx_data = mainData.loc[mainData['exchange'] == "ixbx-xbt-usd"].compute()

In [3]:
#bfnx
#bfnx data aggregation
bfnx_data = mainData.loc[mainData['exchange'] == 'bfnx-xbt-usd'].compute()

In [4]:
base_data = mainData.loc[mainData['exchange'] == "base-xbt-usd"].compute()

In [6]:
ixbx_data['timestamp'] = dk.to_datetime(ixbx_data['timestamp'], unit='s')
bfnx_data['timestamp'] = dk.to_datetime(bfnx_data['timestamp'], unit='s')
base_data['timestamp'] = dk.to_datetime(base_data['timestamp'], unit='s')

In [8]:
bfnx_hourly = bfnx_data.set_index('timestamp')
bfnx_hourly = bfnx_hourly.resample('60min').mean()
bfnx_hourly_computed = bfnx_hourly.dropna()
bfnx_hourly_computed

                        unitprice
timestamp
2018-01-01 00:00:00  14766.435156
2018-01-01 01:00:00  13256.782609
2018-01-01 03:00:00   7483.000000
2018-01-01 05:00:00   8845.000000
2018-01-01 07:00:00  10150.000000
...                           ...
2018-12-31 19:00:00   8077.326812
2018-12-31 20:00:00   8842.139474
2018-12-31 21:00:00   9160.818838
2018-12-31 22:00:00   9220.177967
2018-12-31 23:00:00   9496.242282

[8571 rows x 1 columns]

In [9]:
ixbx_hourly = ixbx_data.set_index('timestamp')
ixbx_hourly = ixbx_hourly.resample('60min').mean()
ixbx_hourly_computed = ixbx_hourly.dropna()
ixbx_hourly_computed

                       unitprice
timestamp
2018-01-01 00:00:00  9808.397484
2018-01-01 03:00:00  9031.461305
2018-01-01 06:00:00  8124.910000
2018-01-01 08:00:00  9889.525283
2018-01-01 13:00:00  6441.473434
...                          ...
2018-12-31 19:00:00  6385.410775
2018-12-31 20:00:00  6124.299187
2018-12-31 21:00:00  6456.822742
2018-12-31 22:00:00  6567.436088
2018-12-31 23:00:00  6640.568021

[7985 rows x 1 columns]

In [10]:
base_hourly = base_data.set_index('timestamp')
base_hourly = base_hourly.resample('60min').mean()
base_hourly_computed = base_hourly.dropna()
base_hourly_computed

                        unitprice
timestamp
2018-01-01 00:00:00  14815.560961
2018-01-01 01:00:00  15146.633933
2018-01-01 02:00:00  12675.508918
2018-01-01 03:00:00  11321.799821
2018-01-01 04:00:00   8071.794736
...                           ...
2018-12-11 22:00:00  14877.790000
2018-12-17 21:00:00  12080.010000
2018-12-18 19:00:00   7415.370000
2018-12-19 17:00:00   6240.743333
2018-12-21 19:00:00   6412.699097

[7595 rows x 1 columns]

In [11]:
ixbx_hourly_computed.to_csv("ixbx_hourly_computed.csv")

In [12]:
base_hourly_computed.to_csv("base_hourly_computed.csv")

In [13]:
bfnx_hourly_computed.to_csv("bfnx_hourly_computed.csv")